* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

html {
    font-family: "Agency FB";
    color: white;

}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}

.col-6 img {
    width: 100%;

}

.col-4 {
    width: 33%;
}

.col-3 {
    width: 25%;
}

.col-6 {
    width: 50%;
}

.col-12 {
    width: 100%;
}

.col-12-s {
    width: 100%;
}

.col-12-b {
    width: 100%;
}


.row-container_reklama {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}


.row-container_reklama .col-6 {

    text-align: center;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;

}

.row-container_reklama .col-6 span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 1.3em;
}

#newsletter span {
    font-size: 2.0em;
}

#new1 {
    letter-spacing: 0.2em;
}

#newsletter {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;

}

.submenu {
    display: flex;

    flex-direction: column;
}

.submenu a {
    font-size: 1.5em;
    letter-spacing: 0.2em;
}

.ul_submenu li {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.ul_submenu a {
    font-size: 1.3em;
    letter-spacing: 0.0em;
}




#newsletter span {
    color: black;
    padding: 10px 15px;
}

.btn {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 7%;
    margin-bottom: 7%;

}

#account .submenu a {
    text-decoration: none;
    background-color: #231F20;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}




.row-container-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

ul.ul_submenu {
    display: none;
}

#icon i {
    display: none;
    color: black;
}

#pay {
    display: none;
}


.logoidosell {

    text-align: center;
}


#slider
{
    width: 100%
}


#contact {
    background-color: gray;
    display: flex;
    justify-content: center;
    padding: 10px;
}



.row-container_slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.row-container_slider .col-12-s {

    text-align: center;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;

}


#small-slider img {
    width: 100%;
    text-align: center;
}


#small-slider {
    padding: 30px;
}


#armodo {
    color: black;
}



#seo img {
    width: 100%;
}


#seo-slider {
    padding: 30px;
}

#seo .slick-prev:before {
    color: black;
}

#seo .slick-next:before {
    color: black;
}

#seo .slick-next {
    right: 0px;
}

#seo .slick-prev {
    left: 0px;
}

#slider .slick-next {
    right: 0px;

}

#slider .slick-prev {
    left: 0px;

}


#slider .slick-next:before {
    color: black;
}

#slider .slick-prev:before {
    color: black;
}


.row-container_armodo-why {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.row-container_armodo-why .col-6 {

    text-align: center;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;

}


.seo-text {
    color: black;
    text-align: center;
    padding: 10px;
}

.armodo-why {
    text-align: center;
    color: black;
    padding: 25px;
}

#armodo {
    text-align: center;
    padding: 10px;
}

#armodo i {
    padding: 10px;
}


.row-container_fot {

        display: flex;
flex-wrap: wrap;
    }


@media only screen and (min-width: 361px) {
    #small-slider {
        margin-left: 5%;
        margin-right: 5%;

    }

    #main-banner {
        margin-left: 5%;
        margin-right: 5%;

    }

    .col-4-pc {
        width: 33%;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;

    }

    .row-container_reklama .col-4-pc span {
        width: 33%;
        font-size: 2.5em;
    }

    ul.ul_submenu {
        display: block;
    }

    i {
        display: block;
        color: black;
    }

    #pay {
        display: flex;
        justify-content: center;
        padding: 20px;
    }


    .logoidosell {

        text-align: center;
    }



    .menu {
        display: flex;
        justify-content: center;
        background-color: #231F20;
    }

    .submenu {
        width: 15%;


    }

    #contact {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: 20px;

    }

    .icon {
        display: flex;
    }


    .btn {

        width: 15%;
        margin-left: 42.5%;
        margin-right: 42.5%;


    }

    .icon i {
        padding-left: 5px;
        padding-right: 5px;
    }



    .icon a {
        text-decoration: none;
        color: black;
    }

    .icon-facebook-circled {
        color: blue;
    }

    .icon-facebook-circled a {
        color: blue;
    }

    #pay img {
        width: 50%;
    }

    #seo img {
        padding: 10px;
    }

    #seo {
        padding: 10px;
    }

    #seo .slick-next {
        right: 55px;

    }

    #seo .slick-next:before {
        color: white;
        opacity: 1;
    }

    #seo .slick-prev {
        left: 25px;
    }

    #seo .slick-prev:before {
        color: white;
    }



    .armodo-why {
        width: 100%;
    }

    .row-container_fot {

        display: flex;

    }

    .seo-text {
        padding-left: 300px;
        padding-right: 300px;
    }
    
    #seo-slider {
    padding: 10px;
}

    
    .iconss{
        display: flex;
    justify-content: center;
    }
    
    .col-3-pc
    {
        width: 25%;
    }
    
}